     
            /* select the body tag */
            body {
                margin: 0;
            }
            /* select all the tags <section> */
            section {
                border-bottom: 1px solid black;
                overflow: hidden;
            }
            /* select all the tags that have
                    class="technologies"
                    or even class="technologies some-other-class" 
                    or even class="some-other-class technologies some-third-class"
            */
            .technologies {
                background-color: aliceblue;
            }
            .schedule {
                background-color: tomato;
            }
            .curriculum {
                background-color: rgba(0, 255, 0, 0.5);
            }
            /* select all the UL elements that are anywhere insde a NAV element */
            nav ul {
                list-style: none;
            }
            nav li {
                display: inline;
                border: 1px solid black;
                padding: 5px;
                margin-left: 9px;
            }
            nav a {
                text-decoration: none;
            }
    table {
  border-collapse: collapse;
}

td, th {
  border: 3px solid blue;
  padding: 0.4rem;
  text-align: left;
}

footer {
    background-color: gray;
    color: whitesmoke;
    overflow:hidden;
}

footer a {
    text-decoration: none;
    color: tomato;
}

.partners {
    float: right;
}

.partners ul li {
    float: left;
    list-style: none;
    padding: 10px 15px;
}


.partners ul li a img {
    width: 100px;
}


.link{
    float:left;
}



